<template id="usuarios-template">
  <div>
    <h1><slot></slot></h1>
    <input type="text" v-model="busqueda" placeholder="Nombre de usuario">
    <hr>
    <div class="grid">
      <Usuario v-for="usuario in filteredUsers" :usuario="usuario" ></Usuario>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Usuario from './Usuario'
  export default {
    components: {
      Usuario
    },
    template: '#usuarios-template',
      mounted() {
        axios.get('https://randomuser.me/api/?results=500')
          .then((res) => {
            const lista = res.data.results.map((user) => {
              return {
                name: `${user.name.title}: ${user.name.first} ${user.name.last}`,
                email: user.email,
                phone: user.cell,
                foto: user.picture.medium
              }
            })
           this.usuarios = lista;
          })
      },
      data() {
        return {
          busqueda: '',
          usuarios: []
        }
      },
      computed: {
        filteredUsers() {
          return this.busqueda == ''
            ? this.usuarios
            : this.usuarios.filter((user) => user.name.includes(this.busqueda))
        }
      }
  }
</script>

<style scoped>
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
</style>
